body {
   margin: 5% auto;
   width: 80%;
   background-color: FireBrick;
}

a:link, a:visited {
   color: White;
}

#whole {
   margin: auto;
   width: 100%;
   height:35em;
   background-color: gray;
   padding: 1%;
}

