body {
   margin: 5% auto;
   width: 80%;
   background-color: #8F1A1A;
}

h1 {
}

a:link, a:visited {
   color: White;
}

#whole {
   margin: auto;
   width: 100%;
   min-height: 35em;
   background-color: gray;
   padding: 1%;
   padding-left: 2%;
}

#courseDescr {
   width: 50%;
}

#timeCreated {
   text-align: right;
}

#notice, #message {
   border: 2px solid red;
   padding: 1em;
   width: 70%;
   margin-left: 2em;
   margin-bottom: 2em;
   background-color: #f0f0f0;
   font: bold smaller sans-serif;   
}

#message {
   border-color: green;
}

#hint {
   color: White;
   font: bold smaller sans-serif;
}

#title a {
   text-decoration: none;
}