body {
   margin: 5% auto;
   width: 80%;
   background-color: #8F1A1A;
}

h1 {
   padding-bottom: 2%;
}

a:link, a:visited {
   color: White;
}

#whole {
   margin: auto;
   width: 100%;
   min-height: 35em;
   background-color: gray;
   padding: 1%;
   padding-left: 2%;
}

#courseDescr {
   width: 50%;
}

#timeCreated {
   text-align: right;
}