<h2 id="courseTitle"><%=h @course.title %></h2>

<p id="courseDescr">
  <%=h @course.description %>
</p>
<p>
	<strong>Credits: </strong><%= @course.credits %>
</p>

<%-# link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', root_url %>